@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* body의 h1 정렬하기 */
h1 {
  display: flex;
  justify-content: center;
}

/* write-container 정렬하기 */
#write-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid #aaa;
  border-radius: 20px; */

}

#form {
  max-width: fit-content;
  padding: 20px 20px;
  border: 3px solid #aaa;
  border-radius: 20px;
}

/* input 요소들 CSS */
input[type="text"] {
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #0d74e2;
  outline: none;
}

input[type="text"]::placeholder {
  color: #aaa;
}


input[type="date"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #141313;
  transition: border-color 0.3s ease;
}

input[type="date"]:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  height: 100px;
  width: 230px;
  font-size: 15px;
  resize: vertical;
  vertical-align: top;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: #0d74e2;
  outline: none;
}

textarea::placeholder {
  color: #aaa;
}


button {
  margin: 15px auto;
  display: block;
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #aaa;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: #ff6f91;
  color: #f9f9f9;
  transform: scale(1.1)
}

/* response-contanier 꾸미기 */
#response-container {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap : 10px;
}

/* 개인 방명록 CSS */

.written {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 14px;
  text-align: center;
}

.written input[type="password"] {
  width: 100px;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.del-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}